img {
  border-radius: 50%;
  max-height: 30vh;
}

header {
  background-color: darkblue;
  align-items: center;margin-top: 10px;
}

h1 {
  padding: 6vh;
  font-weight: bold;
}

.nav-link{
  vertical-align: middle;
  display: inline;
  
}
